.gutter-row {
    border: 1px solid blue;
}

.criteria-dropdown {
    background: white;
}

.vendor-dropdown {
    background: gray;
    position: absolute;
    display: none;
}

.criteria-dropdown {
    background: gray;
    position: absolute;
    display: none;
}

.dropdown-link:focus + .vendor-dropdown, .vendor-dropdown:hover,
.criteria-dropdown-link:focus + .criteria-dropdown, .criteria-dropdown:hover {
    display: block;
    cursor: pointer;
}

menu {
    z-index: 2
}

.table-info {
    display: flex;
    border: 1px solid black;
    width: 800px;
    margin: 0 auto;
}

.vendor-info {
    display: flex;
    /* flex-direction: column */
    border: 1px solid black;
    width: 500px;
}

.left-side, .right-side {
    border: 1px solid black
}

.left-side {
    width: 300px;
}

.right-side {
    width: 500px;
}

li {
    border: 1px solid black;
    height: 40px;
}

.vendor-criteria {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.row {
    display: flex;
}

p {
    width: 200px;
    height: 120px;
}

.vendor-name {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vendor-name li {
    width: 100px;
    display: flex;
    justify-content: center;
}

.remove-vendor {
    display: flex;
    height: 100%;
}

.dropdown-link {
    position: relative;
}
.criteria-dropdown-link {
    position: relative;
}

.no-display {
    display: none;
}